@page
@model AspNet.RazorPages.Net6.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Testing authentication for RazorPages (.NET 6)</h1>
</div>
